/* Styles for the New Transaction Container */
.new_trans_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20px 10px 20px 10px;
    -fx-spacing: 10;
    -fx-alignment: center left;
}

.new_trans_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_trans_container TextField {
    -fx-pref-height: 40px;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.new_trans_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230px;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFF1F; /* Fixed the typo: #FFFFIF to #FFFF1F */
}

.new_trans_container Button:hover {
    -fx-cursor: hand;
}

/* Styles for the Dashboard */
.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #AAAAAA;
    -fx-text-fill: black; /* Set the text color to black */
     -fx-font-weight: bold; /* Make the text bold */
}

.text .date_lbl {
    -fx-text-fill: black; /* Set the text color to black */
    -fx-font-size: 2.5em; /* Increase the font size */
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold; /* Make the text bold */
}

.section_title {
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
}

/* Styles for Accounts View */
.accounts_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px 0 0 10px;
    -fx-padding: 10px 0 10px 0;
    -fx-alignment: center;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #FFFFFF; /* Changed to white for consistency */
    -fx-spacing: 10;
}

.account {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}

.account VBox {
    -fx-background-color: #e5e5e5;
}

.account Text {
    -fx-fill: #ffffff;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.account FontAwesomeIconView {
    -fx-fill: #ffffff;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
}

.account_balance {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.account_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 1.5em;
    -fx-text-alignment: center;
}
.account_num {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-size: 2em;
    -fx-text-alignment: center;
     -fx-font-weight: bold;
}
/* Styles for Accounts Summary View */
.summary_view {
    -fx-background-color: #FFFFFF;
    -fx-padding: 5px 10px 5px 10px;
    -fx-spacing: 5;
    -fx-alignment: center left;
}

.summary, .summary_Ex {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.summary {
    -fx-text-fill: #00AA00;
}

.summary_Ex {
    -fx-text-fill: #cf1111;
}

.acc_summary_container, .container {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center left;
    -fx-border-radius: 10;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.acc_summary_container Line {
    -fx-stroke: #AAAAAA;
}

.income_amount {
    -fx-text-fill: #00AA00;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

.expense_amount {
    -fx-text-fill: #AA0000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.5em;
}

/* Styles for Transactions View */
.listView {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #AAAAAA;
}

.transaction_listview .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-padding: 15px 0 15px 0;
}

/* Styles for Send Money View */
.send_money_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20px 10px 20px 10px;
    -fx-spacing: 10;
    -fx-alignment: center left;
}

.send_money_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.send_money_container TextField {
    -fx-pref-height: 40px;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.send_money_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230px;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFF1F;
}

.send_money_container Button:hover {
    -fx-cursor: hand;
}
/* Style for the BarChart */
.bar-chart {
    -fx-bar-fill: #3498DB; /* Bar color */
}

/* Style for the PieChart */
.pie-chart {
    -fx-pie-chart-label-line-length: 20px;
    -fx-pie-chart-label-line-color: #555;
    -fx-pie-chart-label-line-stroke-width: 1px;
    -fx-pie-chart-label-line-visible: true;
    -fx-pie-chart-label-fill: #555;
    -fx-pie-chart-data-0-fill: #E74C3C; /* Color for the first data point */
    -fx-pie-chart-data-1-fill: #3498DB; /* Color for the second data point */
    -fx-pie-chart-data-2-fill: #2ECC71; /* Color for the third data point */
    -fx-pie-chart-data-3-fill: #F1C40F; /* Color for the fourth data point */
    -fx-pie-chart-data-4-fill: #9B59B6; /* Color for the fifth data point */
    /* Add more data point styles as needed */
}